/*
TODO
Style the page as shown in the example.
Make good use of the developer tools:
-- on the example page, open up the inspector and poke around
-- on your own page, use dev tools to add and modify styles directly in the browser
*/


.jumbotron {
	background: #ccccb3;
	text-align: center;
	margin-bottom: 1%;
	color: black;
}

header p {
	color: gray;
}

#section-watchlist {
	color: gray;
}

#section-watchlist li {
	margin: 5px 0px 5px 0px;
	width: 160px;
}

#section-browse {
  background: black;
  color: white;
}




#section-browse li {
	margin-bottom: 1px;
	list-style: none;
	border: 1px solid white;
	padding: 10px;
	background-color: white;
	color: black;
}

li h4 {
	margin-top: 0px;
}

ul {
	margin-top: 40px;
}